<section class="my-7 md:my-14 lg:my-24">
    <div class="container max-w-6xl">

        <h4 class="text-center font-extrabold text-3xl mb-10 lg:text-5xl lg:mb-14">Всего 3 шага для подключения Telegram чата</h4>

        <div class="relative">

            <img class="hidden lg:block absolute -top-3 inset-x-0 w-full" src="../../images/lines.svg" alt>


            <div id="slider-connect" class="flex flex-row items-center gap-x-8 md:gap-x-9 mb-7 md:mb-0 md:justify-between">
    
                <div>
                    <div class="flex flex-col flex-none items-center lg:max-w-[14.813rem]">
                        <div class="flex items-center justify-center rounded-full bg-secondary w-[4.5rem] h-[4.5rem] mb-4">
                            <span class="text-primary font-bold text-3xl leading-[1.875rem]">1</span>
                        </div>
                        <span class="text-lg font-bold mb-1 text-center">Telegram bot</span>
                        <span class="text-sm font-[1.375rem] lg:text-base text-center lg:leading-[1.625rem] mb-[2.625rem] lg:mb-14">Вы создаёте Telegram бота для вашего сайта</span>
                        <img src="../../images/connect-1.svg" alt>
                    </div>
                </div>
    
                <div>
                    <div class="flex flex-col flex-none items-center lg:max-w-[14.813rem] lg:mt-[4.375rem]">
                        <div class="flex items-center justify-center rounded-full bg-secondary w-[4.5rem] h-[4.5rem] mb-4">
                            <span class="text-primary font-bold text-3xl leading-[1.875rem]">2</span>
                        </div>
                        <span class="text-lg font-bold mb-1 text-center">Подключение Tocha</span>
                        <span class="text-sm font-[1.375rem] lg:text-base text-center lg:leading-[1.625rem] mb-[2.625rem] lg:mb-14">Tocha подключает Telegram бота к вашиму сайту</span>
                        <img src="../../images/connect-2.svg" alt>
                    </div>
                </div>

                <div>   
                    <div class="flex flex-col flex-none items-center  lg:max-w-[14.813rem]">
                        <div class="flex items-center justify-center rounded-full bg-secondary w-[4.5rem] h-[4.5rem] mb-4">
                            <span class="text-primary font-bold text-3xl leading-[1.875rem]">3</span>
                        </div>
                        <span class="text-lg font-bold mb-1 text-center">Telegram-чат</span>
                        <span class="text-sm font-[1.375rem] lg:text-base text-center lg:leading-[1.625rem] mb-[2.625rem] lg:mb-14">Консультант отвечает на вопросы посетителей сайта</span>
                        <img src="../../images/connect-3.svg" alt>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>