<section class="bg-gray-70 py-14 lg:py-20">
    <div class="container max-w-6xl">
        <div class="flex flex-col space-y-7 md:flex-row md:space-y-0">

            <div class="space-y-10 lg:space-y-16">
                <h2 class="font-extrabold text-3xl lg:text-5xl">Tocha Online — это</h2>

                <div class="flex flex-col gap-y-4 lg:gap-y-12">

                    <div class="flex items-center gap-x-5 lg:gap-x-7">
                        <div class="w-10 h-10 lg:w-16 lg:h-16">
                            <svg class="w-10 h-10 lg:w-16 lg:h-16">
                                <use xlink:href="../../images/sprite.svg#icon-1"></use>
                            </svg>
                        </div>
                        <div class="space-y-1 lg:space-y-2">
                            <span class="text-xl font-semibold lg:text-2xl">Ничего лишнего</span>
                            <p>Отсутствие лишних приложений для операторов. Оператору не нужно учиться работать с чатом</p>
                        </div>
                    </div>

                    <div class="flex items-center gap-x-5 lg:gap-x-7">
                        <div class="w-10 h-10 lg:w-16 lg:h-16">
                            <svg class="w-10 h-10 lg:w-16 lg:h-16">
                                <use xlink:href="../../images/sprite.svg#icon-2"></use>
                            </svg>
                        </div>
                        <div class="space-y-1 lg:space-y-2">
                            <span class="text-xl font-semibold lg:text-2xl">Простота</span>
                            <p>Простая установка на сайт</p>
                        </div>
                    </div>

                    <div class="flex items-center gap-x-5 lg:gap-x-7">
                        <div class="w-10 h-10 lg:w-16 lg:h-16">
                            <svg class="w-10 h-10 lg:w-16 lg:h-16">
                                <use xlink:href="../../images/sprite.svg#icon-3"></use>
                            </svg>
                        </div>
                        <div class="space-y-1 lg:space-y-2">
                            <span class="text-xl font-semibold lg:text-2xl">Несколько ассистентов</span>
                            <p>Возможность подключения нескольких ассистентов</p>
                        </div>
                    </div>

                    <div class="flex items-center gap-x-5 lg:gap-x-7">
                        <div class="w-10 h-10 lg:w-16 lg:h-16">
                            <svg class="w-10 h-10 lg:w-16 lg:h-16">
                                <use xlink:href="../../images/sprite.svg#icon-4"></use>
                            </svg>
                        </div>
                        <div class="space-y-1 lg:space-y-2">
                            <span class="text-xl font-semibold lg:text-2xl">Кастомизация</span>
                            <p>Настройка интерфейса под нужды сайта</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="w-full flex justify-center">
                <img class="object-cover h-[31.25rem] lg:h-auto" src="../../images/feature-img.svg" alt>
            </div>
        </div>
    </div>
</section>