<section class="pt-14">
    <div class="container max-w-6xl">
        <div class="flex flex-col text-center">

            <h3 class="font-extrabold text-3xl mb-2 lg:text-5xl lg:mb-4">Тарифы</h3>

            <p class="text-xl font-bold mb-8 md:mb-9 lg:mb-10">Стоимость зависит от трафика сайта</p>

            <div id="slider-rate" class="flex gap-5 mb-6">

                <div class="max-w-[20.625rem] lg:max-w-[21.875rem] flex-none w-full rounded-md shadow-button mb-6">
                    <div class="w-full bg-secondary/50 py-1.5 mb-10">
                        <span class="text-2xl leading-[3rem] font-extrabold text-primary">Бесплатно</span>
                    </div>
                    
                    <div class="px-[1.875rem]">
                        <span class="inline-block font-bold text-[1.75rem] leading-10 mb-8">Пробный период на 1 месяц</span>
                        <span class="inline-block font-medium text-xl leading-[1.875rem] mb-[2.875rem]">0₽/первый месяц</span>
                        
                        <button class="bg-primary w-full py-3 rounded-md shadow-button mb-[3.125rem]">
                            <span class="font-bold text-lg leading-6 text-white">Подключить за 0₽</span>
                        </button>
                    </div>
                </div>

                <div class="max-w-[20.625rem] lg:max-w-[21.875rem] flex-none w-full rounded-md shadow-button mb-6">
                    <div class="w-full bg-secondary/50 py-1.5 mb-10">
                        <span class="text-2xl leading-[3rem] font-extrabold text-primary">Базовый</span>
                    </div>
                    
                    <div class="px-[1.875rem]">
                        <span class="inline-block font-bold text-[1.75rem] leading-10 mb-8">Менее 1000 посещений в сутки</span>
                        <span class="inline-block font-medium text-xl leading-[1.875rem] mb-[2.875rem]">200₽/месяц</span>
                        
                        <button class="bg-primary w-full py-3 rounded-md shadow-button mb-[3.125rem]">
                            <span class="font-bold text-lg leading-6 text-white">Подключить за 200₽</span>
                        </button>
                    </div>
                </div>

                <div class="max-w-[20.625rem] lg:max-w-[21.875rem] flex-none w-full rounded-md shadow-button mb-6">
                    <div class="w-full bg-secondary/50 py-1.5 mb-10">
                        <span class="text-2xl leading-[3rem] font-extrabold text-primary">Премиум</span>
                    </div>
                    
                    <div class="px-[1.875rem]">
                        <span class="inline-block font-bold text-[1.75rem] leading-10 mb-8">Более 1000
                            посещений в сутки</span>
                        <span class="inline-block font-medium text-xl leading-[1.875rem] mb-[2.875rem]">500₽/месяц</span>
                        
                        <button class="bg-primary w-full py-3 rounded-md shadow-button mb-[3.125rem]">
                            <span class="font-bold text-lg leading-6 text-white">Подключить за 500₽</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>