<section class="lg:mb-20">
    <div class="container max-w-6xl relative">
        <img class="w-14 absolute right-10 top-1 md:w-auto" src="../../images/reviews-img.svg" alt>

       <div class="relative z-10">
            <h5 class="text-center font-extrabold text-3xl lg:text-5xl pt-14 mb-10 lg:mb-12">Отзывы клиентов</h5>

            <div id="slider-reviews" class="flex items-center gap-8 mb-6 lg:mb-7">
                <div>
                    <div class="flex flex-col flex-none w-full max-w-[20.5rem] lg:max-w-[28.75rem] mb-10 text-center mx-auto">
                        <div class="flex flex-col items-center text-[#18191F] px-5 py-8 shadow-button rounded-md mb-5">
                            <div class="text-lg font-semibold mb-2">Как же удобно!</div>
                            <div class="text-sm leading-6">В рамках спецификации современных стандартов, базовые сценарии поведения пользователей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут преданы социально-демократической анафеме.</div>
                        </div>
    
                        <div class="flex items-center justify-center">
                            <img class="w-14 h-14 rounded-full mr-4" src="../../images/photo-1.jpg" alt>
                            <div>
                                <div class="text-lg font-bold">Анна Купер</div>
                                <div class="text-sm leading-6">romashka.ru</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div>
                    <div class="flex flex-col flex-none w-full max-w-[20.5rem] lg:max-w-[28.75rem] mb-10 text-center mx-auto">
                        <div class="flex flex-col items-center text-[#18191F] px-5 py-8 shadow-button rounded-md mb-5">
                            <div class="text-lg font-semibold mb-2">Теперь мы идем в ногу со временем</div>
                            <div class="text-sm leading-6">А ещё интерактивные прототипы превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Банальные, но неопровержимые выводы, а также тщательные исследования конкурентов формируют сеть.</div>
                        </div>
    
                        <div class="flex items-center justify-center">
                            <img class="w-14 h-14 rounded-full mr-4" src="../../images/photo-2.jpg" alt>
                            <div>
                                <div class="text-lg font-bold">Андрей Васильев</div>
                                <div class="text-sm leading-6">samogon-ont.ru</div>
                            </div>
                        </div>
                    </div> 
                </div>

                <div>
                    <div class="flex flex-col flex-none w-full max-w-[20.5rem] lg:max-w-[28.75rem] mb-10 text-center mx-auto">
                        <div class="flex flex-col items-center text-[#18191F] px-5 py-8 shadow-button rounded-md mb-5">
                            <div class="text-lg font-semibold mb-2">Теперь мы идем в ногу со временем</div>
                            <div class="text-sm leading-6">А ещё интерактивные прототипы превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Банальные, но неопровержимые выводы, а также тщательные исследования конкурентов формируют сеть.</div>
                        </div>
    
                        <div class="flex items-center justify-center">
                            <img class="w-14 h-14 rounded-full mr-4" src="../../images/photo-2.jpg" alt>
                            <div>
                                <div class="text-lg font-bold">Андрей Васильев</div>
                                <div class="text-sm leading-6">samogon-ont.ru</div>
                            </div>
                        </div>
                    </div> 
                </div>


            </div>

       </div>
    </div>
</section>