<section class="text-white py-[5.625rem]">
    <div class="container max-w-6xl">
        <div class="flex flex-col items-center bg-primary py-10 md:py-0 px-[1.875rem] rounded-md md:flex-row relative lg:justify-around">
            <img class="absolute inset-y-0 right-0 hidden lg:block xl:w-[52.75rem]" src="../../images/subscribe-bg.svg" alt>
            <img class="mb-[1.563rem] md:mb-0" src="../../images/subscribe-img.svg" alt>

            <div class="md:ml-9">
                <h6 class="text-2xl font-extrabold mb-4 lg:text-[2.063] leading-10">Подключите Telegram чат уже сегодня</h6>

                <form action="#">
                   <div class="flex items-center rounded-md overflow-hidden">
                        <input class="p-2.5 w-full" type="email" name="email" placeholder="Введите e-mail">
                        <button class="bg-[#18191F] text-sm font-bold py-3 px-6" type="submit">Отправить</button>
                   </div>
                </form>
            </div>
        </div>
    </div>
</section>